@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

header li{
    list-style: none;
}

nav {
    text-decoration: none;
    color: #224093;
    font-size: 1.4rem;
    font-weight: 550;
    font-family: Roboto, Helvetica Neue, Arial;
}
.mar{
    background-color: #FDB915;
    color: #224093;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 280;
    padding: 1vw;
}

a:hover {
    color: #F5F5F5;
}

.margin{
    background-color: whitesmoke;
}

.maiden {
    color: rgb(35,64,146);
    font-size: larger;
    font-family: "jost";
    display: flex;
}

.star{
    width: 60px;
    border: 2px solid rgb(0,168,119);
    border-radius: 50%;
    animation-name: star;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
@keyframes star {
    from{
        transform: rotate(0deg) ;
    }

    to{
        transform: rotate(360deg);
    }
}

.edition{
    font-size: larger;
}
.september{
    font-size: larger;
}

.hir{
    width: 5vw;
    border-top: 1px solid black;
}

#buttonba{
    height: 10vh;
    width: 40vw;
    border: 0;
    background-color: rgb(253, 185, 21);
}
#buttonbb{
    width: 40vw;
    height: 10vh;
    border: 1px solid rgb(35,64,146);
    color: rgb(35,64,146);
}
.venue{
    width: 80vw;
    height: 50vh;
    background-image: linear-gradient(to right,  rgb(202,144,1), rgb(85,119,206));
    color: white;
}

.vrtextp{
    color: rgb(35,64,146);
}

.vrtextaa{
    color: rgb(253, 185, 21) ;
    font-weight: 500;
    font-size: 4rem;
}

.vrtextab{
    color: rgb(35,64,146);
    font-weight: 900;
    font-size: 5rem;
    border-bottom:2px solid rgb(253, 185, 21) ;
}

.venueb{
    color: rgb(35,64,146);
    font-size: 5rem;
    font-weight: 900;
}

.hr1{
    border-top: 2px solid rgb(253 185 21);
    
}

.zuk{
    background-color: white;
    border-radius: 20px;
    color: black;
    margin-top: 10vh;
    transition: 2s ease;
}

.zuk:hover{
    background-color: green;
    color: white;
}

.nat{
    background-color: rgb(255,205,85);
    border-radius: 10px;
    border: none;
    width: 10vw;
    height: 10vh;
}

.get{
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 2s ease;
}

get:hover{
    color: white;
}

.elon{
    background-color: rgb(255,205,85);
    border-radius: 20px;
    color: rgb(35,65,147);
}


.net{
    background-color: rgb(35,65,147);
    border-radius: 10px;
    width: 10vw;
    height: 10vh;
    border: none;
}

.net a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}
.bezos{
    background-color: white;
    border-radius: 20px;
    color: black;
    margin-top: 10vh;
    transition: 2s ease;
}

.bezos:hover{
    background-color: blue;
    color: white;
}

.tech{
    color: white;
    background-image: linear-gradient(to bottom left, rgb(221 94 101) 5% , rgb(19,34,80) 58%) ;
}

.tech h2{
    font-weight: bolder;
}
.partners, .media, .community, .gold{
    color:rgb(35,64,146); 
    font-size: 2rem;
}

.nave li a{
    color: white;
    font-weight: lighter;
}

.bak{
    background-color: whitesmoke;
}